# Virtual environments
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
